<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>博文发布</title>
    <link rel="stylesheet" href="../static/css/publish.css" th:href="@{/css/publish.css}">
    <link rel="stylesheet" href="../static/Utils/semantic_ui/semantic.min.css" th:href="@{/Utils/semantic_ui/semantic.min.css}">
    <link rel="stylesheet" href="../static/Utils/editormd/css/editormd.min.css" th:href="@{/Utils/editormd/css/editormd.min.css}">
</head>

<body>
<div id="background"></div>
<header>
    <nav>
        <p>后台管理</p>

        <a th:href="@{/}">博客</a>
    </nav>
</header>

<div class="content">
    <div style="display: none">
        <div class="ui attached pointing menu" th:fragment="head-title">
            <div class="ui container">
                <div class="right menu">
                    <a th:href="@{/publish}" th:class="${active=='publish.html'?'orange active item':'item'}">发布</a>
                    <a th:href="@{/list}" th:class="${active=='showBlog.html'?'orange active item':'item'}">列表</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div th:replace="~{publish::head-title(active='publish.html')}"></div>
    </div>
    <form id="blog-form" th:action="@{/insertBlog}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="published" id="published">
        <div class="required field" style="margin-top: 10px;">
            <div class="ui left labeled input focus" style="width: 1127px;">
                <label class="ui orange basic label">标题</label>
                <input type="text" name="title" id="title" placeholder="标题">
            </div>
        </div>

        <div class="required field" style="margin-top: 10px;">
            <div class="ui left labeled input focus" style="width: 1127px;">
                <label class="ui orange basic label">首图</label>
                <input type="file" name="file" id="firstPicture" placeholder="首图" accept="image/gif, image/jpg, image/png">
            </div>
        </div>

        <div class="required field" style="margin-top: 10px;">
            <div class="ui left labeled input focus" style="width: 1127px;">
                <label class="ui orange basic label">博客简介</label>
                <input type="text" name="briefContent" id="briefContent" placeholder="简介">
            </div>
        </div>

        <div class="required field" style="margin-top: 20px;">
            <div id="md-content">
                <textarea name="detailContent" id="detailContent" placeholder="详细内容博客..." style="display: none;"></textarea>
            </div>
        </div>

        <div class="ui right aligned container">
            <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
            <button type="button" id="save-btn" class="ui orange button" onclick="submit()">保存</button>
            <button type="button" id="publish-btn" class="ui yellow button" onclick="submit()">发布</button>
        </div>
    </form>
</div>

<script src="../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script src="../static/Utils/editormd/editormd.min.js" th:src="@{/Utils/editormd/editormd.min.js}"></script>
<script type="text/javascript">
    //初始化markdown 页面
    var contentEditor;

    $(function () {
        contentEditor = editormd("md-content", {
            width: 1127,
            height: 350,
            syncScrolling: "single",
            path: "/Utils/editormd/lib/"
        });
    });


    function submit() {
        var formData = new FormData($('#blog-form')[0]);

        $.ajax({
            url: "/insertBlog",
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
        });
    };


    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });

    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

</script>
</body>

</html>