<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>不知道什么网站</title>
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="../static/Utils/semantic_ui/components/icon.min.css" th:href="@{/Utils/semantic_ui/components/icon.min.css}">
    <link rel="stylesheet" href="../static/Utils/semantic_ui/semantic.min.css" th:href="@{/Utils/semantic_ui/semantic.min.css}">
</head>

<body>
<div id="background" class="background_set"></div>
<!-- header导航栏 -->
<div class="btn_header" id="btn">
    <img src="/image/icon-image/首页%20.png" alt="">
</div>
<header class="nav_container" id="header">
    <nav>
        <a href="javascript:;" onclick="displayWindow_QQ()"><img src="/image/icon-image/QQ.png" alt=""> QQ</a>
        <a href="javascript:;" onclick="displayWindow_Wechat()"><img src="/image/icon-image/微信.png" alt=""> 微信</a>
        <a href="https://github.com/Z-Yiheng" target="_blank"><img src="/image/icon-image/GitHub.png" alt="">
            GitHub</a>
        <img src="/image/icon-image/关闭.png" alt="" id="close">
        <div class="animation"></div>
    </nav>
</header>

<!-- 导航栏动态模糊 -->
<div class="banner">
    <div class="image">
        <img width="3000" height="250" src="/image/B-image/bg.png"/>
    </div>
    <div class="image">
        <img width="1800" height="165" src="/image/B-image/girl1.png"/>
    </div>
    <div class="image">
        <img width="3000" height="250" src="/image/B-image/grassland.png"/>
    </div>
    <div class="image">
        <img width="1800" height="160" src="/image/B-image/mushroom.png"/>
    </div>
    <div class="image">
        <img width="1800" height="165" src="/image/B-image/spirit.png"/>
    </div>
    <div class="image">
        <img width="1950" height="178" src="/image/B-image/leaf.png"/>
    </div>
</div>

<!--悬浮窗口-->
<div id="window_QQ" class="window_css">
    <a href="javascript:void(0)" onclick="hideWindow_QQ()">
        <img src="/image/icon-image/关闭.png" alt="">
    </a>
    <img class="img_QQ" src="/image/QQ_code.jpg" alt="">
</div>

<div id="window_Wechat" class="window_css">
    <a href="javascript:void(0)" onclick="hideWindow_Wechat()">
        <img src="/image/icon-image/关闭.png" alt="">
    </a>
    <img class="img_QQ" src="/image/Wechat_code.jpg" alt="">
</div>

<!--出现悬浮窗口后,背景变暗-->
<div id="shadow" class="shadow_css"></div>


<!-- 中间部分 -->
<div class="body_container">
    <!-- 侧边导航栏 -->
    <div id="sidebar">
        <img src="/image/logo.jpg" alt="">
        <span id="name"></span>
        <div id="in_div">
            <ul>
                <li>
                    <a href="login.html">管理员登录</a>
                </li>
                <li>
                    <a href="">分类框</a>
                </li>
                <li>
                    <a href="">关于此博客</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体部分 -->
    <div id="content">
        <!-- head 博客 -->
        <div class="content_head">
            <p>My 博客</p>
        </div>

        <!-- 博客主体 -->
        <div class="content_body">

            <div class="item" onclick="window.location.href='blog.html';">
                <div class="img">
                    <img src="/image/wallhaven-3z32j3_1920x1080.png" alt="">
                </div>
                <div class="head_card">
                    <h2>标题</h2>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <span style="margin-left: 10px;"><i class="eye icon"></i> 75 浏览</span>
                    <span style="float: right; margin-right: 10px; margin-bottom: 10px;"><i class="calendar alternate icon"></i> 2021-8-3</span>
                </div>
            </div>
            <div class="item" onclick="window.location.href='blog.html';">
                <div class="img">
                    <img src="/image/wallhaven-3z32j3_1920x1080.png" alt="">
                </div>
                <div class="head_card">
                    <h2>标题</h2>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <span style="margin-left: 10px;"><i class="eye icon"></i> 75 浏览</span>
                    <span style="float: right; margin-right: 10px; margin-bottom: 10px;"><i class="calendar alternate icon"></i> 2021-8-3</span>
                </div>
            </div>
            <div class="item" onclick="window.location.href='blog.html';">
                <div class="img">
                    <img src="/image/wallhaven-3z32j3_1920x1080.png" alt="">
                </div>
                <div class="head_card">
                    <h2>标题</h2>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <p>
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <span style="margin-left: 10px;"><i class="eye icon"></i> 75 浏览</span>
                    <span style="float: right; margin-right: 10px; margin-bottom: 10px;"><i class="calendar alternate icon"></i> 2021-8-3</span>
                </div>
            </div>
            <div class="item" onclick="window.location.href='blog.html';">
                <div class="img">
                    <img src="/image/wallhaven-3z32j3_1920x1080.png" alt="">
                </div>
                <div class="head_card">
                    <h2>标题</h2>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <p>
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </p>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <span style="margin-left: 10px;"><i class="eye icon"></i> 75 浏览</span>
                    <span style="float: right; margin-right: 10px; margin-bottom: 10px;"><i class="calendar alternate icon"></i> 2021-8-3</span>
                </div>
            </div>
            <div class="item" onclick="window.location.href='blog.html';">
                <div class="img">
                    <img src="/image/wallhaven-3z32j3_1920x1080.png" alt="">
                </div>
                <div class="head_card">
                    <h2>标题</h2>
                </div>
                <div class="ui divider"></div>
                <div class="description">
                    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <div class="ui divider"></div>
                <div class="extra content">
                    <span style="margin-left: 10px;"><i class="eye icon"></i> 75 浏览</span>
                    <span style="float: right; margin-right: 10px; margin-bottom: 10px;"><i class="calendar alternate icon"></i> 2021-8-3</span>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- 左下侧悬浮按钮 -->
<div class="to_top_btn"></div>

<!-- 引入外部js -->
<script type="text/javascript" src="../static/js/jquery-3.6.0.js" th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
<script src="../static/Utils/semantic_ui/semantic.min.js" th:src="@{/Utils/semantic_ui/semantic.min.js}"></script>
</body>

</html>