<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这是一个博客</title>
    <link rel="stylesheet" href="/Utils/semantic_ui/semantic.css" th:href="@{/Utils/semantic_ui/semantic.css}">
    <link rel="stylesheet" href="/CSS/index.css" th:href="@{/CSS/index.css}">
    <script src="/Utils/jquery-3.6.0.js" th:src="@{/Utils/jquery-3.6.0.js}"></script>
    <script src="/Utils/semantic_ui/semantic.min.js" th:src="@{/Utils/semantic_ui/semantic.min.js}"></script>
    <script src="/JS/index.js" th:src="@{/JS/index.js}"></script>
</head>

<body>
    <!-- header -->
    <div class="ui fixed stackable menu" style="background-color: rgba(255, 255, 255, 0.856);">
        <div class="ui container">
            <div class="item">
                <h5 class="ui header"><img class="ui circular image" src="/img/logo.jpg" th:src="@{/img/logo.jpg}" alt="">Z-Yiheng</h5>
            </div>
            <a class="item" th:href="@{/main}">
                <i class="home icon"></i> 首页
            </a>
            <div class="ui simple dropdown item">
                <i class="grid layout icon"></i> 分类
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">前端</div>
                    <div class="item">后端</div>
                    <div class="item">数据结构与算法</div>
                </div>
            </div>

            <a class="item">
                <i class="mail icon"></i>意见箱
            </a>
            <div class="ui simple dropdown item"> 更多
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" th:href="@{/background}"><i class="edit icon"></i> 管理员入口</a>
                    <a class="item" id="about_me"><i class="address card icon"></i>关于我</a>
                </div>
            </div>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="搜索...">
                    <i class="inverted circular search link icon"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- 关于我 -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            一个普通大学生
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="/img/logo.jpg">
            </div>
            <div class="description">
                <div class="ui header">博主：张以恒</div>
                <p>就读于 <a href="https://www.guet.edu.cn/" target="_blank">桂林电子科技大学</a>，软件工程专业大二学生</p>
                <p>学习方向：网站后端</p>
                <p>爱好：篮球、游戏</p>
                <p>联系我：</p>
                <a class="ui image label">
                    <i class="qq icon"></i>
                    QQ
                </a>
                <a class="ui image label">
                    <i class="wechat icon"></i>
                    WeChat
                </a>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Close
            </div>
        </div>
    </div>

    <!-- body head -->
    <div class="headerImg">
        <div class="bubbles"></div>
    </div>
    <div class="headTitle">
        <h1>Continue</h1>
        <span>个人博客</span>
        <p>博学之，审问之，慎思之，明辨之，笃行之。</p>
    </div>

    <div class="headButton">
        <i class="ui inverted big angle down icon" id="pointer"></i>
    </div>

    <!-- body content -->
    <div class="ui container" style="margin-top: 20px;" id="body">
        <h4 class="ui horizontal divider header">
            <i class="fire red icon"></i>&nbsp;&nbsp;Latest&nbsp;&nbsp;
            <i class="fire red icon"></i>
        </h4>


        <div class="ui divided items">
            <div class="item" th:each="lastest:${lastestList}">
                <div style="display:none;" th:text="${lastest.id}"></div>
                <div class="image">
                    <img src="/img/logo.jpg" th:src="@{'/images/'+${lastest.first_picture}}">
                </div>
                <div class="content">
                    <!-- title -->
                    <a class="header" th:text="${lastest.title}"></a>

                    <div class="meta">
                        <span class="cinema"></span>
                    </div>
                    <!-- 简介 -->
                    <div class="description">
                        <p th:text="${lastest.brief_content}">简介在此</p>
                    </div>
                    <!-- 时间 -->
                    <div class="extra">
                        <div class="ui label" th:text="${#dates.format(lastest.publish_time,'yyyy-MM-dd')}">2021-8-1</div>
                    </div>
                    <!-- 详情按钮 -->
                    <div class="extra">
                        <div class="ui right floated primary tiny button">
                            <a href="" style="color: white;" th:href="@{'/blog/'+${lastest.id}}">了解全部</a>
                            <i class="right chevron icon"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui horizontal divider">
                MORE
            </div>

            <div id="container">

                <h3 class="ui block header"> 所有博客 </h3>

                <!-- 瀑布流 -->
                <div class="content_body">
                    <div class="my_item" th:each="list: ${mainlist}" >
                        <div style="display:none;" th:text="${list.id}"></div>
                        <div class="img">
                            <img alt="" src="/img/wallhaven-3z32j3_1920x1080.png" th:src="@{'/images/'+${list.first_picture}}">
                        </div>
                        <div class="head_card">
                            <h2 th:text="${list.title}"></h2>
                        </div>
                        <div class="ui divider"></div>
                        <div class="my_description">
                            <p th:text="${list.brief_content}"></p>
                            <div>
                                <a th:href="@{'/blog/'+${list.id}}">了解更多</a>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="extra content">
                            <span class="left floated" style="float: left;margin-left: 20px;">
                                <i class="eye icon"></i>
                                <span th:text="${list.views}"></span>
                            </span>
                            <span class="right floated" style="float: right;margin-right: 10px;">
                                <i class="calendar alternate icon"></i>
                                <span th:text="${#dates.format(list.publish_time,'yyyy-MM-dd')}"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 200px;"></div>
            <div class="ui divider" ></div>
        </div>
    </div>

    <img class="ui fluid image" src="/img/footer.png" th:src="@{/img/footer.png}">


    <script>

        $('#about_me').click(function (){
            $('.ui.modal')
                .modal('show')
            ;
        });

        $("#pointer").on('click',function(e){

            $('html,body').animate({scrollTop:$("#body").offset().top}, 800);
        });

        // 冒泡特效
        (function(w, d) {

            var bubbles = d.querySelector('.bubbles');
            var bubblesWidth = w.innerWidth;
            var num = 200;
            var duration = 200;

            bubbleUp();
            setInterval(bubbleUp, duration * 1000);

            function bubbleUp() {
                bubbles.innerHTML = '';
                for (var i = 0; i < num; i++) {
                    var bubbleDiv = d.createElement('div');
                    bubbleDiv.classList.add('bubble');
                    bubbleDiv.style.cssText = `
            transform: Translate(${bubblesWidth*Math.random()}px,0) scale(${5*Math.random()});
            animation: up ${duration * Math.random() }s ease-in-out;
        `
                    bubbles.appendChild(bubbleDiv);
                };
            };
        })(window, document);
    </script>

</body>

</html>