<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>

    <link rel="stylesheet" href="/Utils/semantic_ui/semantic.css" th:href="@{/Utils/semantic_ui/semantic.css}">
    <link rel="stylesheet" href="/css/blog.css" th:href="@{/CSS/blog.css}">
    <link rel="stylesheet" href="/css/typo.css" th:href="@{/CSS/typo.css}">
    <link rel="stylesheet" href="/Utils/prism/prism.css" th:href="@{/Utils/prism/prism.css}">
</head>

<body>
    <div class="progress"></div>
    <div id="background"></div>

    <div class="head_background">
        <div class="ui text container">
            <h1 class="ui inverted huge header " th:text="${Blog.title}"></h1>
            <div>
                <i class="eye icon"></i>阅读量：<span th:text="${Blog.views}"></span>
                <i class="clock outline icon"></i>发布时间：<span th:text="${#dates.format(Blog.publish_time,'yyyy-MM-dd')}"></span>
            </div>
        </div>
    </div>

    <div class="ui vertical teal buttons">
        <button class="ui button" id="to_top_btn"><i class="chevron circle up icon"></i>置顶</button>
        <button class="ui button"><i class="like icon"></i>点赞</button>
        <button class="ui button" id="to_home_btn"><i class="home icon"></i>主页</button>
    </div>

    <!-- body 主体 -->
    <div id="content_container">
        <div id="content" class="typo typo-selection js-toc-content">

            <div id="title">
                <span>目录:</span>
                <ol class="js-toc">
                </ol>
            </div>
            <div style="display: inline-block;width: 100%;" th:utext="${Blog.detail_content}"></div>
        </div>

    </div>
    <img class="ui fluid image" src="/img/footer.png" th:src="@{/img/footer.png}" style="bottom: 0;" alt="">

    <!-- js 部分 -->
    <script type="text/javascript" src="/js/jquery-3.6.0.js" th:src="@{/Utils/jquery-3.6.0.js}"></script>
    <script src="/Utils/semantic_ui/semantic.min.js" th:src="@{/Utils/semantic_ui/semantic.min.js}"></script>
    <script src="/Utils/prism/prism.js" th:src="@{/Utils/prism/prism.js}"></script>
    <script src="/Utils/tocbot/tocbot.js" th:src="@{/Utils/tocbot/tocbot.js}"></script>
    <script>
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });

        (function() {
            let pageHeight = document.body.scrollHeight || document.documentElement.scrollHeight;
            let windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
            let scrollAvail = pageHeight - windowHeight;
            console.log('可滚动高度', scrollAvail);
            window.onscroll = function() {
                let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                console.log('滚动条高度', scrollTop);
                document.querySelector('.progress').style.width = (scrollTop / scrollAvail) * 100 + '%';
            };
        }());

        $('.ui.text.container')
            .transition('bounce')
        ;
        //置顶按钮
        $(window).scroll(function () {
            if ($(document).scrollTop() > 160) {
                $('#to_top_btn').fadeIn();
            } else {
                $('#to_top_btn').fadeOut();
            }
        });
        $('#to_top_btn').click(function () {
            var timer = setInterval(function () {
                if ($(document).scrollTop() == 0) {
                    clearInterval(timer);
                } else {
                    $(document).scrollTop($(document).scrollTop() - 30);
                }
            }, 5);
        });

        $('#to_home_btn').click(function () {
            window.location.href="/main"
        })

    </script>
</body>

</html>