<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人主页</title>
    <link rel="stylesheet" href="/Utils/semantic_ui/semantic.css" th:href="@{/Utils/semantic_ui/semantic.css}">
    <script src="/Utils/jquery-3.6.0.js" th:src="@{/Utils/jquery-3.6.0.js}"></script>
    <script src="/Utils/semantic_ui/semantic.min.js" th:src="@{/Utils/semantic_ui/semantic.min.js}"></script>
    <style>
        html::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }
        
        html::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: linear-gradient(#CCFFFF, #66CCCC, #009999);
        }
        
        html::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #EDEDED;
        }
    </style>
</head>

<div class="ui container">
        <div class="ui visible left vertical sidebar thin menu">
            <div class="item">
                <img class="ui medium circular image" src="/img/logo.jpg" th:src="@{'/images/'+${person.logo}}" alt="">
                <div class="ui horizontal divider">
                    博主
                </div>
                <span th:text="${person.othername}">Z-Yiheng</span>
            </div>
            <a class="blue active item" th:href="@{/personal}">
                <i class="home icon"></i> 个人主页
            </a>
            <a class="item" th:href="@{/map}">
                <i class="table icon"></i> 列表管理
            </a>
            <a class="item" th:href="@{/published}">
                <i class="file out line icon"></i> 发布博客
            </a>
            <a class="item" th:href="@{/main}">
                <i class="undo alternate icon"></i> 返回博客
            </a>
            <a class="item" th:href="@{/logout}">
                <i class="sign out alternate icon"></i> 注销账号
            </a>
        </div>
    <div class="pusher">
        <div class="ui basic segment">

            <div class="ui large breadcrumb">
                <a class="section" th:href="@{/main}">主页</a>
                <i class="right chevron icon divider"></i>
                <a class="section" onclick="window.history.go(-1)">返回</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">个人信息</div>
            </div>

            <form class="ui form" id="logo-form" method="post" th:action="@{/uploadImg}" enctype="multipart/form-data" style="margin-top: 10px">
                <a class="item">
                    <img id="show" class="ui small circular image" src="/img/logo.jpg" th:src="@{'/images/'+${person.logo}}" alt="">
                </a>
                <input type="file" name="file" id="logo" style="display: none;" onchange="changepic()" accept="image/gif,image/jpg,image/png">
                <button class="ui inverted blue tiny button" type="button" onclick="openFile()" style="margin-left: 300px;">更改头像</button>
                <button class="ui inverted green tiny button" type="button" onclick="submit_logo()">上传头像</button>
            </form>

            <form class="ui form" id="person-form" th:action="@{/person}" method="post" enctype="multipart/form-data">
                <h3 class="ui dividing header">个人信息</h3>

                <div class="field">
                    <label>账号</label>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" name="username" id="username" placeholder="User Name" th:placeholder="${person.username}" th:value="${person.username}" disabled="true">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>名字</label>
                    <div class="one fields">
                        <div class="field">
                            <input type="text" name="othername" id="othername" placeholder="昵称" th:value="${person.othername}">
                        </div>
                        <div class="field">
                            <input type="text" name="firstname" id="firstname" placeholder="First Name" th:placeholder="${person.firstname}" th:value="${person.firstname}" disabled="true">
                        </div>
                        <div class="field">
                            <input type="text" name="lastname" id="lastname" placeholder="Last Name" th:placeholder="${person.lastname}" th:value="${person.lastname}" disabled="true">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>手机号</label>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" name="phonenumber" id="phonenumber" placeholder="Phone Number" th:placeholder="${person.phonenumber}" th:value="${person.phonenumber}">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>QQ</label>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" name="qq" id="qq" placeholder="QQ" th:placeholder="${person.qq}" th:value="${person.qq}">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>WeChat</label>
                    <div class="fields">
                        <div class="ten wide field">
                            <input type="text" name="wechat" id="wechat" placeholder="WeChat" th:placeholder="${person.wechat}" th:value="${person.wechat}">
                        </div>
                    </div>
                </div>

                <div type="button" class="ui button" tabindex="0" onclick="submit()">提交信息</div>
            </form>

        </div>
    </div>
    <div class="ui dimmer" id="load">
        <div class="ui text loader">Loading</div>
    </div>
</div>
<img class="ui fluid image" src="/img/footer.png" th:src="@{/img/footer.png}" alt="">

<script>
    function changepic() {
        var reads= new FileReader();
        f=document.getElementById('logo').files[0];
        reads.readAsDataURL(f);
        reads.onload=function (e) {
            document.getElementById('show').src=this.result;
        };
    }

    function openFile() {
        document.getElementById("logo").click();
    }

    var username = $('#username').val();

    function submit_logo() {
        var formData_logo = new FormData($('#logo-form')[0]);

        $.ajax({
            url: '/uploadImg',
            type: 'POST',
            cache: false,
            data: formData_logo,
            processData: false,
            contentType: false,
            beforeSend: function () {
                $('#load').attr("class","ui active dimmer")
            },
            success: function (data) {
                if (data == "success"){
                    window.location.href = "/personal";
                }
                alert("上传成功");
            },
            complete: function () {
                $('#load').attr("class","ui dimmer")
            }
        });
    };

    function submit() {
        var formData = new FormData($('#person-form')[0]);

        $.ajax({
            url: '/person',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function () {
                $('#load').attr("class","ui active dimmer")
            },
            success: function (data) {
                if (data == "success"){
                    window.location.href = "/personal";
                }
                alert("上传成功");
            },
            complete: function () {
                $('#load').attr("class","ui dimmer")
            }
        });
    };
</script>

<body>

</body>

</html>