<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet prefetch'
          href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css'>
    <link rel="stylesheet" href="/src/main/resources/static/css/icon.min.css">
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/semantic.min.css">

    <style>
        .item {
            position: absolute;
            width: 300px;
            height: auto;
            background-color: white;
            border: 1px solid rgb(145, 145, 145);
        }

        .item img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .description {
            word-wrap: break-word;
        }
    </style>
</head>

<body>
<div class="item">
    <div class="img">
        <img src="/src/main/resources/static/image/wallhaven-3z32j3_1920x1080.png" alt="">
    </div>
    <div class="head_card">
        <h2>标题</h和>
    </div>
    <div class="description">
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
    <div class="ui divider"></div>
    <div class="extra content">
        <span style="margin-left: 10px;"><i class="eye icon"></i> 75</span>
        <span style="float: right; margin-right: 10px;"> 2021-8-3</span>
    </div>
</div>

<script src="/src/main/resources/static/js/jquery-3.6.0.js"></script>
<script src="/src/main/resources/static/js/semantic.min.js"></script>

</body>

</html>