<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博文发布</title>
    <link rel="stylesheet" href="../../static/css/publish.css">
    <link rel="stylesheet" href="../../static/Utils/semantic_ui/semantic.min.css">
    <link rel="stylesheet" href="../../static/Utils/editormd/css/editormd.min.css">
</head>

<body>
<div id="background"></div>
<header>
    <nav>
        <p>后台管理</p>

        <a href="index.html">博客</a>
    </nav>
</header>

<div class="content">
    <div class="m-padded-tb-hugex">
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" class="orange active item">发布</a>
                    <a href="#" class="item">列表</a>
                </div>
            </div>
        </div>
    </div>
    <div class="required field" style="margin-top: 20px;">
        <div class="ui left labeled input focus" style="width: 500px;">
            <label class="ui orange basic label">首图</label>
            <input type="text" name="title" placeholder="标题">
        </div>
    </div>
    <div class="required field" style="margin-top: 20px;">
        <div class="ui left labeled input focus" style="width: 500px; margin-left: 127px;">
            <label class="ui orange basic label">首图</label>
            <input type="text" name="firstPicture" placeholder="首图引用地址">
        </div>
    </div>

    <div class="ui left labeled input focus" style="width: 1127px; margin-top: 20px;">
        <label class="ui orange basic label">博客简介</label>
        <input type="text" name="title" placeholder="简介">
    </div>

    <div class="required field" style="margin-top: 20px;">
        <div id="md-content">
            <textarea name="description" placeholder="详细内容博客..." style="display: none;"></textarea>
        </div>
    </div>

    <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
        <button type="button" id="save-btn" class="ui orange button">保存</button>
        <button type="button" id="publish-btn" class="ui yellow button">发布</button>
    </div>
</div>

<script src="../../static/js/jquery-3.6.0.js"></script>
<script src="../../static/Utils/editormd/editormd.min.js"></script>
<script type="text/javascript">
    //初始化markdown 页面
    var contentEditor;

    $(function () {
        contentEditor = editormd("md-content", {
            width: 1127,
            height: 400,
            syncScrolling: "single",
            path: "../Utils/editormd/lib/"
        });
    });
</script>
</body>

</html>